



<!--商品新規登録画面-->
<div class="container">
  <div class="form-group row">
    <div class="mt-5 col-sm-2.5">
      <h5 class="bg-light"><strong>施術コース登録</strong></h5>
    </div>
  </div>

  <%= form_with model: @treatment, url: admin_treatments_path, local:true do |f| %>

     <div class="form-group row mx-auto mb-3">
       <div class="col-sm-2"></div>
        <div class="col-sm-2">
        <label class="form-label">施術画像</label>
        </div>
        <div class="col-sm-6">
         <%#= f.attachment_field :image, class: "w-100" %>
        </div>
    </div>

     <div class="form-group row mx-auto mb-3">
      <div class="col-sm-2"></div>
       <div class="col-sm-2">
        <label class="form-label">施術名</label>
       </div>
         <div class="col-sm-4">
          <%= f.text_field :name, class: "form-control", placeholder:"商品名" %>
         </div>
    </div>

     <div class="form-group row mx-auto mb-3">
      <div class="col-sm-2"></div>
       <div class="col-sm-2">
        <label class="form-label">施術説明</label>
       </div>
         <div class="col-sm-4">
          <%= f.text_area :introduction, class: "form-control", placeholder:"ここに説明文を記述します" %>
         </div>
     </div>

     <div class="form-group row mx-auto mb-3">
      <div class="col-sm-2"></div>
       <div class="col-sm-2">
        <label class="form-label">施術ジャンル</label>
       </div>
         <div class="col-sm-4">
         <%#= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "--選択して下さい--"}, class: "form-control") %>
         </div>
     </div>

     <div class="form-group row mx-auto mb-3">
      <div class="col-sm-2"></div>
       <div class="col-sm-2">
        <label class="form-label">税抜価格</label>
       </div>
         <div class="col-sm-4">
           <%= f.text_field :price, class: "form-control", placeholder:"金額を入力してください" %>
          </div>
             <div class="col-sm-1">
              <span class="pr-auto form-text">円</span>
            </div>
     </div>
      </div>

     <div class="form-group row mx-auto mb-3">
      <div class="col-sm-5"></div>
       <div class="col-sm-2">
        <%= f.submit '新規登録', class:"btn btn-success btn-md btn-block" %>
    <% end %>
       </div>
      </div>
     </div>